@charset "utf-8";

.pc_only {
}

.mobile_only {
  display:none;
}

.title {
  text-align: center;
}

.header-feature-box-outer1 {
  width:970px;
  height: 500px;
  margin:0 auto;
  // float:right;
}

.header-feature-box-outer {
  width:970px;
  height: auto;
  margin:0 auto;
  // float:right;
}

.header-feature-box {
  margin:0 10px;
  width:300px;
  border:solid 1px #999;
  border-radius: 5px;
  background-color:#fff;
  float:left;
}
